{% comment %} <h3>Hello world  see your todo here</h3>
{% for task in tasks %}
    <div>
        <p>{{task}}<p>
    </div>
{% endfor %} {% endcomment %}

<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title> {% block title %}Task List{% endblock title %}</title>
    {% block head %}{% endblock head %}
  </head>
  
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <li class="nav-item">
        <a class="nav-link {% block profileactive %}{% endblock profileactive %}" href="/task_list"><p2>Task List</p2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block contactusactive %}{% endblock contactusactive %}" href="/create"></p2>Create</p2></a>
      </li>
    </ul>
    

    <!-- Sign up Modal -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <form class="d-flex" method="get" action="/search" align="right">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button>
        <br>
      </form>
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signupModalTitle">SignUp to maintain your todo list</h5>
              <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <form action='/signup' method='post'>
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control form-rounded" id="username" name="username"
                    placeholder="Choose a unique username" required>
                </div>
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" name="fname"
                    placeholder="Enter your first name here" required>
                </div>
                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" name="lname"
                    placeholder="Enter your last name here" required>
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                    required>
                </div>
                <div class="form-group">
                  <label for="pass1">Choose a Password</label>
                  <input type="password" class="form-control" id="pass1" name="pass1"
                    placeholder="Choose your password" required>
                </div>
                <div class="form-group">
                  <label for="pass2">Confirm Password</label>
                  <input type="password" class="form-control" id="pass2" name="pass2"
                    placeholder="Enter your choosen password again" required>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
  
  
  
  
  
  
        <!-- Sign In Modal -->
        <div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="signinModalTitle">SigIn to convert your thought into actions.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action='/login' method='post'>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="loginusername" name="loginusername"
                      placeholder="Enter your username" required>
                  </div>
                  <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                      placeholder="Emter your password" required>
                    <br>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">SignIn</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
      <!-- Button to trigger SignUp modal -->
      {% if user.is_authenticated %}
  
      <form method="get" action="">
        <button type="submit">{{request.user}}</button>
      </form>
  
      {% comment %} <button type="button" class="btn btn-primary me-2">
        {{request.user}}
      </button> {% endcomment %}
  
      {% comment %} you are logged in as {{request.user}} {% endcomment %}
      {% else %}
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#signupModal">
        SignUp
      </button>
      <br>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signinModal">
        LogIn
      </button>
      {% endif %}
      </div>
      </div>
    </nav>

    
    <h2>Task List</h2>

    <!-- Display existing tasks -->
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}
                (<a href="{% url 'view_task' task.id %}">View</a>)
                (<a href="{% url 'update_task' task.id %}">Edit</a>)
                (<a href="{% url 'delete_task' task.id %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>

    <!-- Link to create a new task -->
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'create_task' %}">Create New Task</a></button>
</body>
</html>